* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}
/* button {
  margin: 0;
  padding: 0;
} */

.square {
  width: 34px;
  height: 34px;
  border: 1px solid #999;
  padding: 0;
  margin-top: -1px;
  margin-right: -1px;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
}

.board-row {
  display: flex;
}

.tip {
  margin-bottom: 5px;
}

.history {
  display: flex;
  width: 550px;
}

.button-row {
  margin-top: 2px;
  display: flex;
  align-items: center;
}
.num {
  margin-right: 5px;
  text-align: right;
  width: 20px;
}
.btn {
  width: 200px;
}
.sort-btn {
  width: 100px;
  height: 30px;
  background-color: #78b3ff;
  border: 1px solid #666;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #fff;
}
.current-place {
  margin-left: 2px;
}
